.section
    background: var(--color-black)
    height: max-content
    min-height: 200px
    padding-bottom: 100px

.title
    width: 100%
    color: white
    font-size: 32px
    margin-bottom: 20px
    margin-top: 20px
    padding-right: var(--container-gap)
    padding-left: var(--container-gap)
    /* 2xl */
    @media screen and ( max-width: 1536px )
      font-size: 33px
    /* xl */
    @media screen and ( max-width: 1280px )
      font-size: 30px
    /* lg */
    @media screen and ( max-width: 1024px )
      font-size: 27px
    /* md */
    @media screen and ( max-width: 768px )
      font-size: 24px
    /* sm */
    @media screen and ( max-width: 640px )
      text-align: center
      width: 100%
      margin-bottom: 0
    /* xs */
    @media screen and ( max-width: 475px )
      text-align: center
      width: 100%
      margin-bottom: 0
      padding-right: 0
      padding-left: 0