.section
    padding-top: 160px
    margin-bottom: 40px
    /* @md */
    @media screen and (max-width: 1024px)
        height: auto
        min-height: auto
    @media screen and (max-width: 680px)
        padding-top: 100px
    /* @xs */
    @media screen and (max-width: 600px)
        height: auto
    /* @2xs */
    @media screen and (max-width: 480px)
        height: auto
    /* @3xs */
    @media screen and (max-width: 360px)
        height: auto

.box
    width: 100%
    margin: 20px auto
    /* @2xl */
    @media screen and (max-width: 1600px)
        margin: 40px auto
    /* @sm */
    @media screen and (max-width: 768px)
        display: grid

.title
    color: #313131
    font-size: 32px
    text-align: left
    /* 2xl */
    @media screen and ( max-width: 1536px )
      font-size: 33px
    /* xl */
    @media screen and ( max-width: 1280px )
      font-size: 30px
    /* lg */
    @media screen and ( max-width: 1024px )
      font-size: 27px
    /* md */
    @media screen and ( max-width: 768px )
      font-size: 24px
    /* sm */
    @media screen and ( max-width: 640px )
      width: 100%
      margin: 20px auto
    /* xs */
    @media screen and ( max-width: 475px )
      width: 100%
      margin-bottom: 20px

.right-side
    float: right
    width: 535px
    height: 100%
    margin: 0 0 20px 30px
    object-fit: cover
    /* @2xl */
    @media screen and (max-width: 1600px)
        margin: 0 0 20px 
        width: 388px
        height: 100%
        margin: 0 0 20px 40px
    /* @sm */
    @media screen and (max-width: 768px)
        float: none
        margin: 0 auto 40px
    /* @xs */
    @media screen and (max-width: 600px)
        width: 250px
        height: 100%

