.stepper
	display: flex
	align-items: center
	justify-content: space-evenly
	/* @4xl */
	@media screen and (max-width: 2560px)
		display: flex
		align-items: center
		justify-content: space-evenly
	/* @3xl */
	@media screen and (max-width: 1920px)
		display: flex
		align-items: center
		justify-content: space-evenly
	/* @2xl */
	@media screen and (max-width: 1600px)
		display: flex
		align-items: center
		justify-content: space-evenly
	/* @xl */
	@media screen and (max-width: 1440px)
		display: flex
		align-items: center
		justify-content: space-evenly
	/* @lg */
	@media screen and (max-width: 1280px)
		display: flex
		align-items: center
		justify-content: space-evenly
	/* @md */
	@media screen and (max-width: 1024px)
		display: flex
		align-items: center
		justify-content: space-evenly
	/* @sm */
	@media screen and (max-width: 768px)
		display: flex
		align-items: center
		justify-content: space-evenly
	/* @xs */
	@media screen and (max-width: 600px)
		display: none


.stepper__step
	background-color: #A6A6A6
	width: 12px
	height: 12px
	border-radius: 50px
	margin: 0 20px
	position: relative
	&:after 
		content: " " 
		display: block 
		position: absolute 
		height: 2px 
		background-color: #A6A6A6 
		width: 40px 
		left: 100% 
		top: calc(50% - 1px)
	&:last-child
		&:after 
			display: none
	/* @4xl */
	@media screen and (max-width: 2560px)
		background-color: #A6A6A6
		width: 12px
		height: 12px
		border-radius: 50px
		margin: 0 20px
		position: relative
		&:after 
			content: " " 
			display: block 
			position: absolute 
			height: 2px 
			background-color: #A6A6A6 
			width: 40px 
			left: 100% 
			top: calc(50% - 1px)
		&:last-child
			&:after 
				display: none
	/* @3xl */
	@media screen and (max-width: 1920px)
		background-color: #A6A6A6
		width: 12px
		height: 12px
		border-radius: 50px
		margin: 0 20px
		position: relative
		&:after 
			content: " " 
			display: block 
			position: absolute 
			height: 2px 
			background-color: #A6A6A6 
			width: 40px 
			left: 100% 
			top: calc(50% - 1px)
		&:last-child
			&:after 
				display: none
	/* @2xl */
	@media screen and (max-width: 1600px)
		background-color: #A6A6A6
		width: 12px
		height: 12px
		border-radius: 50px
		margin: 0 20px
		position: relative
		&:after 
			content: " " 
			display: block 
			position: absolute 
			height: 2px 
			background-color: #A6A6A6 
			width: 40px 
			left: 100% 
			top: calc(50% - 1px)
		&:last-child
			&:after 
				display: none
	/* @xl */
	@media screen and (max-width: 1440px)
		background-color: #A6A6A6
		width: 12px
		height: 12px
		border-radius: 50px
		margin: 0 20px
		position: relative
		&:after 
			content: " " 
			display: block 
			position: absolute 
			height: 2px 
			background-color: #A6A6A6 
			width: 40px 
			left: 100% 
			top: calc(50% - 1px)
		&:last-child
			&:after 
				display: none
	/* @lg */
	@media screen and (max-width: 1280px)
		background-color: #A6A6A6
		width: 12px
		height: 12px
		border-radius: 50px
		margin: 0 20px
		position: relative
		&:after 
			content: " " 
			display: block 
			position: absolute 
			height: 2px 
			background-color: #A6A6A6 
			width: 40px 
			left: 100% 
			top: calc(50% - 1px)
		&:last-child
			&:after 
				display: none
	/* @md */
	@media screen and (max-width: 1024px)
		background-color: #A6A6A6
		width: 10px
		height: 10px
		border-radius: 50px
		margin: 0 15px
		position: relative
		&:after 
			content: " " 
			display: block 
			position: absolute 
			height: 2px 
			background-color: #A6A6A6 
			width: 40px 
			left: 100% 
			top: calc(50% - 1px)
		&:last-child
			&:after 
				display: none
	/* @sm */
	@media screen and (max-width: 768px)
		background-color: #A6A6A6
		width: 10px
		height: 10px
		border-radius: 50px
		margin: 0 10px
		position: relative
		&:after 
			content: " " 
			display: block 
			position: absolute 
			height: 2px 
			background-color: #A6A6A6 
			width: 30px 
			left: 100% 
			top: calc(50% - 1px)
		&:last-child
			&:after 
				display: none
	/* @xs */
	@media screen and (max-width: 600px)
		display: none


.stepper_contain
	display: flex
	align-items: center
	justify-content: flex-start
	margin-bottom: 60px
	margin-top: 20px
	/* @xs */
	@media screen and (max-width: 600px)
		display: grid
		margin-top: 0
		margin-bottom: 0
	/* @2xs */
	@media screen and (max-width: 480px)
		display: grid
		margin-top: 0
		margin-bottom: 0


.steps
	color: #F9CC48
	font-size: 32px
	font-weight: 700
	line-height: 39.06px
	/* @4xl */
	@media screen and (max-width: 2560px)
		font-size: 32px
		line-height: 39.06px
	/* @3xl */
	@media screen and (max-width: 1920px)
		font-size: 32px
		line-height: 39.06px
	/* @2xl */
	@media screen and (max-width: 1600px)
		font-size: 32px
		line-height: 39.06px
	/* @xl */
	@media screen and (max-width: 1440px)
		font-size: 32px
		line-height: 39.06px
	/* @lg */
	@media screen and (max-width: 1280px)
		font-size: 25px
		line-height: 39.06px
	/* @md */
	@media screen and (max-width: 1024px)
		font-size: 20px
		line-height: 39.06px
	/* @sm */
	@media screen and (max-width: 768px)
		font-size: 20px
		line-height: 39.06px
	/* @xs */
	@media screen and (max-width: 600px)
		display: none


.stepper__step__done
	background-color: #F9CC48
	width: 12px
	height: 12px
	/* @xs */
	@media screen and (max-width: 600px)
		display: none

    
.stepper__step__active
	background-color: #F9CC48
	width: 18px
	height: 18px
	box-shadow: 0px 0px 1px 1px #0000001a
	animation: pulse-animation 2s infinite 
	/* @md */
	@media screen and (max-width: 1024px)
		width: 10px
		height: 10px


@keyframes pulse-animation 
	0%
		box-shadow: 0 0 0 0px #006ED2
		opacity: 0.5
	100%
		box-shadow: 0 0 0 18px rgba(0, 0, 0, 0) 


.stepper__step__done
	&:after 
		content: " " 
		display: block 
		position: absolute 
		height: 2px 
		background-color: #F9CC48 
		width: 40px 
		left: 100% 
		top: calc(50% - 1px)
		transition: 2s
		/* @xs */
		@media screen and (max-width: 600px)
			display: none
		/* @2xs */
		@media screen and (max-width: 480px)
			display: none


.next_button
	position: absolute
	bottom: 50px
	right: 70px
	display: flex
	/* @4xl */
	@media screen and (max-width: 2560px)
		bottom: 15px
		right: 30px
	/* @3xl */
	@media screen and (max-width: 1920px)
		bottom: 15px
		right: 30px
	/* @2xl */
	@media screen and (max-width: 1600px)
		bottom: 15px
		right: 30px
	/* @xl */
	@media screen and (max-width: 1440px)
		bottom: 15px
		right: 30px
	/* @lg */
	@media screen and (max-width: 1280px)
		bottom: 15px
		right: 30px
	/* @md */
	@media screen and (max-width: 1024px)
		bottom: 15px
		right: 30px
	/* @sm */
	@media screen and (max-width: 768px)
		bottom: 15px
		right: 30px
	/* @xs */
	@media screen and (max-width: 600px)
		display: none


.btn
	display: flex
	align-items: center
	justify-content: center
	height: 50px
	color: #fff
	font-weight: 500
	text-align: center
	border-radius: 25px
	padding: 12px 30px
	width: 130px
	background-color: #F9CC48
	box-shadow: 1px 13px 11px -4px #0000003d
	/* @4xl */
	@media screen and (max-width: 2560px)
		border-radius: 19px
		padding: 12px 30px
		width: 90px
		height: 44px
	/* @3xl */
	@media screen and (max-width: 1920px)
		border-radius: 19px
		padding: 12px 30px
		width: 90px
		height: 44px
	/* @2xl */
	@media screen and (max-width: 1600px)
		border-radius: 19px
		padding: 12px 30px
		width: 90px
		height: 44px
	/* @xl */
	@media screen and (max-width: 1440px)
		border-radius: 19px
		padding: 12px 30px
		width: 90px
		height: 44px
	/* @lg */
	@media screen and (max-width: 1280px)
		border-radius: 19px
		padding: 12px 30px
		width: 90px
		height: 44px
	/* @md */
	@media screen and (max-width: 1024px)
		border-radius: 19px
		padding: 12px 30px
		width: 90px
		height: 44px
	/* @sm */
	@media screen and (max-width: 768px)
		border-radius: 15px 0
		padding: 12px 30px
		width: 80px
		height: 40px
	/* @xs */
	@media screen and (max-width: 600px)
		display: none


.back
	margin: 10px 50px

.next
	margin: 10px auto