


.about
    display: flex
    justify-content: space-between
    align-items: center

.column
    width: 45%

.gallery_one
    background-color: red
    width: 313px
    height: 270px
    position: relative
    top: 100px

.gallery_two
    background-color: blue
    width: 313px
    height: 270px
    position: relative
    top: 0
    right: 200px

.gallery_three
    background-color: gray
    width: 313px
    height: 270px
    position: relative
    bottom: 100px


.text
    margin-bottom: 30px

.buttons
    display: flex
    justify-content: space-evenly
    align-items: center