.section
    margin-bottom: 40px


.ourDaily
    height: max-content


.title
    color: #006ED2
    font-size: 70px
    font-weight: 400
    display: flex
    align-items: flex-end
    margin-bottom: 40px
    justify-content: flex-end
    &:after 
        content: ''
        flex: 0.8 1
        margin-left: 1rem
        height: 5px
        background-color: #006ED2
        border-radius: 5px
    &:before 
        content: ''
        flex: 0.8 1
        margin-left: 1rem
        height: 5px
        background-color: #006ED2
        border-radius: 5px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 70px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 60px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 50px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 40px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 40px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 40px
        &:after 
            content: ''
            flex: 1
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 40px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 40px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 40px


.images
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 17px


.image
    width: 370px
    height: 465px
    /* @3xl */
    @media screen and (max-width: 1920px)
        height: 465px
        width: 370px
        margin-bottom: 20px
    /* @2xl */
    @media screen and (max-width: 1600px)
        height: 386px
        width: 370px
    /* @xl */
    @media screen and (max-width: 1440px)
        height: 385px
        width: 350px
    /* @lg */
    @media screen and (max-width: 1280px)
        height: 300px
        width: 270px
    /* @md */
    @media screen and (max-width: 1024px)
        height: 300px
        width: 220px
    /* @sm */
    @media screen and (max-width: 768px)
        height: 257px
        width: 500px
    /* @xs */
    @media screen and (max-width: 600px)
        height: 257px
        width: 229px
    /* @2xs */
    @media screen and (max-width: 480px)
        height: 257px
        width: 229px
    /* @3xs */
    @media screen and (max-width: 360px)
        height: 257px
        width: 229px


.video
    width: 370px
    height: 470px
    /* @3xl */
    @media screen and (max-width: 1920px)
        height: 361px
        width: 370px
        margin-bottom: 20px
    /* @2xl */
    @media screen and (max-width: 1600px)
        height: 361px
        width: 370px
    /* @xl */
    @media screen and (max-width: 1440px)
        height: 257px
        width: 350px
    /* @lg */
    @media screen and (max-width: 1280px)
        height: 257px
        width: 270px
    /* @md */
    @media screen and (max-width: 1024px)
        height: 257px
        width: 220px
    /* @sm */
    @media screen and (max-width: 768px)
        height: 360px
        width: 100%
    /* @xs */
    @media screen and (max-width: 600px)
        height: 360px
        width: 100%
    /* @2xs */
    @media screen and (max-width: 480px)
        height: 360px
        width: 229px
        margin: 22px auto
    /* @3xs */
    @media screen and (max-width: 360px)
        height: 360px
        width: 229px
        margin: 22px auto

.video_player
    height: 361px
    width: 370px
    margin-bottom: 20px
    /* @3xl */
    @media screen and (max-width: 1920px)
        height: 361px
        width: 370px
        margin-bottom: 20px
    /* @2xl */
    @media screen and (max-width: 1600px)
        height: 280px
        width: 370px
        margin-bottom: 20px
    /* @xl */
    @media screen and (max-width: 1440px)
        height: 280px
        width: 350px
        margin-bottom: 20px
    /* @lg */
    @media screen and (max-width: 1280px)
        height: 194px
        width: 270px
        margin-bottom: 20px
    /* @md */
    @media screen and (max-width: 1024px)
        height: 194px
        width: 220px
        margin-bottom: 20px
    /* @sm */
    @media screen and (max-width: 768px)
        height: 257px
        width: 500px
        margin-bottom: 20px
    /* @xs */
    @media screen and (max-width: 600px)
        height: 257px
        width: 229px
        margin-bottom: 20px
    /* @2xs */
    @media screen and (max-width: 480px)
        height: 257px
        width: 229px
        margin-bottom: 20px
    /* @3xs */
    @media screen and (max-width: 360px)
        height: 257px
        width: 229px
        margin-bottom: 20px


.navigate
    background-color: #fff
    height: 84px
    width: 370px
    border-radius: 17px
    display: grid
    justify-content: center
    box-shadow: 0 0 4px 0px #656565
    padding: 10px
    /* @xl */
    @media screen and (max-width: 1440px)
        height: 84px
        width: 350px
    /* @lg */
    @media screen and (max-width: 1280px)
        height: 84px
        width: 270px
    /* @md */
    @media screen and (max-width: 1024px)
        height: 84px
        width: 220px
    /* @sm */
    @media screen and (max-width: 768px)
        height: 84px
        width: 500px
    /* @xs */
    @media screen and (max-width: 600px)
        height: 84px
        width: 229px
    /* @2xs */
    @media screen and (max-width: 480px)
        height: 84px
        width: 229px
    /* @3xs */
    @media screen and (max-width: 360px)
        height: 84px
        width: 229px

.text
    font-size: 16px
    line-height: 18.4px
    font-weight: 700
    color: #656565
    padding: 0 17px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 16px
        line-height: 18.4px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 16px
        line-height: 18.4px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 16px
        line-height: 18.4px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 13px
        line-height: 17px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 12px
        line-height: 12px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 13px
        line-height: 15px
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 13px
        line-height: 15px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 13px
        line-height: 15px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 13px
        line-height: 15px


.btn
    display: flex
    justify-content: flex-end

.view
    background-color: #006ED2
    border-radius: 20px
    width: 110px
    height: 30px
    color: #fff
    font-size: 17px
    font-weight: 700
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 16px
        line-height: 18.4px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 16px
        line-height: 18.4px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 16px
        line-height: 18.4px
    /* @lg */
    @media screen and (max-width: 1280px)
        height: 25px
        color: #fff
        font-size: 14px
    /* @md */
    @media screen and (max-width: 1024px)
        height: 25px
        color: #fff
        font-size: 14px
    /* @sm */
    @media screen and (max-width: 768px)
        height: 25px
        color: #fff
        font-size: 14px
    /* @xs */
    @media screen and (max-width: 600px)
        height: 25px
        color: #fff
        font-size: 14px
    /* @2xs */
    @media screen and (max-width: 480px)
        height: 25px
        color: #fff
        font-size: 14px
    /* @3xs */
    @media screen and (max-width: 360px)
        height: 25px
        color: #fff
        font-size: 14px


.column
    display: flex
    justify-content: space-evenly
    align-items: flex-start
    margin-bottom: 50px    
    /* @lg */
    @media screen and (max-width: 768px)
        display: grid
        margin-bottom: 22px   
 
