


.image
    width: 483px
    height: 770px
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 483px
        height: 770px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 486px
        height: 710px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 486px
        height: 710px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 380px
        height: 600px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 300px
        height: 450px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 209px
        height: 300px
        margin: 10px auto
    /* @xs */
    @media screen and (max-width: 600px)
        width: 209px
        height: 300px
    /* @2xs */
    @media screen and (max-width: 480px)
        width: 209px
        height: 300px
    /* @3xs */
    @media screen and (max-width: 360px)
        width: 209px
        height: 300px


.row_one
    display: flex    
    justify-content: center
    margin: 100px auto
    /* @sm */
    @media screen and (max-width: 768px)
        display: grid


.left_side
    width: 50%
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%


.right_side
    width: 50%
    p
        color: #828282
        font-size: 20px
        font-weight: 400
        line-height: 24.41px
        /* @3xl */
        @media screen and (max-width: 1920px)
            font-size: 20px
        /* @2xl */
        @media screen and (max-width: 1600px)
            font-size: 20px
        /* @xl */
        @media screen and (max-width: 1440px)
            font-size: 20px
        /* @lg */
        @media screen and (max-width: 1280px)
            font-size: 15px
        /* @md */
        @media screen and (max-width: 1024px)
            font-size: 14px
            line-height: 17.8px
        /* @sm */
        @media screen and (max-width: 768px)
            font-size: 14px
        /* @xs */
        @media screen and (max-width: 600px)
            font-size: 14px
        /* @2xs */
        @media screen and (max-width: 480px)
            font-size: 14px
        /* @3xs */
        @media screen and (max-width: 360px)
            font-size: 14px
    h5
        color: #828282
        font-size: 20px
        font-weight: 400
        line-height: 24.41px
        /* @3xl */
        @media screen and (max-width: 1920px)
            font-size: 20px
        /* @2xl */
        @media screen and (max-width: 1600px)
            font-size: 20px
        /* @xl */
        @media screen and (max-width: 1440px)
            font-size: 20px
        /* @lg */
        @media screen and (max-width: 1280px)
            font-size: 20px
        /* @md */
        @media screen and (max-width: 1024px)
            font-size: 20px
        /* @sm */
        @media screen and (max-width: 768px)
            font-size: 20px
        /* @xs */
        @media screen and (max-width: 600px)
            font-size: 20px
        /* @2xs */
        @media screen and (max-width: 480px)
            font-size: 20px
        /* @3xs */
        @media screen and (max-width: 360px)
            font-size: 20px
    a
        color: #828282
        font-size: 20px
        font-weight: 400
        line-height: 24.41px
        /* @3xl */
        @media screen and (max-width: 1920px)
            font-size: 20px
        /* @2xl */
        @media screen and (max-width: 1600px)
            font-size: 20px
        /* @xl */
        @media screen and (max-width: 1440px)
            font-size: 20px
        /* @lg */
        @media screen and (max-width: 1280px)
            font-size: 15px
        /* @md */
        @media screen and (max-width: 1024px)
            font-size: 14px
        /* @sm */
        @media screen and (max-width: 768px)
            font-size: 14px
        /* @xs */
        @media screen and (max-width: 600px)
            font-size: 14px
        /* @2xs */
        @media screen and (max-width: 480px)
            font-size: 14px
        /* @3xs */
        @media screen and (max-width: 360px)
            font-size: 14px
    del
        color: #828282
        font-size: 20px
        font-weight: 400
        line-height: 24.41px
        /* @3xl */
        @media screen and (max-width: 1920px)
            font-size: 20px
        /* @2xl */
        @media screen and (max-width: 1600px)
            font-size: 20px
        /* @xl */
        @media screen and (max-width: 1440px)
            font-size: 20px
        /* @lg */
        @media screen and (max-width: 1280px)
            font-size: 15px
        /* @md */
        @media screen and (max-width: 1024px)
            font-size: 14px
        /* @sm */
        @media screen and (max-width: 768px)
            font-size: 14px
        /* @xs */
        @media screen and (max-width: 600px)
            font-size: 14px
        /* @2xs */
        @media screen and (max-width: 480px)
            font-size: 14px
        /* @3xs */
        @media screen and (max-width: 360px)
            font-size: 14px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%


.row_two
    margin: 50px auto
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%


.gallery_row_one
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    columns: 3
    gap: 15px
    align-items: flex-start


.high_altitude_picture
    width: 352.26px
    height: 390.47px
    object-fit: cover
    border-radius: 20px
    transform: scale(1)
    transition: .5s ease-in-out
    overflow: hidden
    &:hover
        transform: scale(1.1)
        transition: .5s ease-in-out
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 352.26px
        height: 390.47px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 320px
        height: 340px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 320px
        height: 340px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 250px
        height: 270px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 200px
        height: 220px


.gallery_row_two
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    columns: 3
    gap: 15px
    align-items: flex-end


.low_altitude_picture
    width: 352.26px
    height: 327.26px
    object-fit: cover
    border-radius: 20px
    transform: scale(1)
    transition: .5s ease-in-out
    overflow: hidden
    &:hover
        transform: scale(1.1)
        transition: .5s ease-in-out
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 352.26px
        height: 327.26px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 320px
        height: 300px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 320px
        height: 300px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 250px
        height: 250px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 200px
        height: 200px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 96%
        height: 400px
        margin: 0 auto
        border-radius: 0
        &:hover
            transform: none
            transition: none
    /* @xs */
    @media screen and (max-width: 600px)
        width: 200px
        height: 200px


.slider
    width: 100%
    height: 450px


.slide
    transform: scale(.5)
    transition: .5s
    filter: blur(5px)


.slide_active
    filter: blur(0)
    opacity: 1
    transform: scale(1.1)


.arrow
    display: flex
    position: absolute
    top: 87px
    font-size: 20px
    padding: 5px 15px
    z-index: 5
    cursor: pointer


.arrow_right
    right: 0


.arrow_left
    left: 0


.video_player
    display: flex
    justify-content: space-around
    align-items: baseline
    height: 570px
    margin-bottom: 60px
    /* @3xl */
    @media screen and (max-width: 1920px)
       padding: 0
    /* @2xl */
    @media screen and (max-width: 1600px)
       padding: 0
    /* @xl */
    @media screen and (max-width: 1440px)
       padding: 0
    /* @lg */
    @media screen and (max-width: 1280px)
       padding: 0
    /* @md */
    @media screen and (max-width: 1024px)
       display: flex
       padding-top: 10px
       height: 399px
    /* @sm */
    @media screen and (max-width: 768px)
       display: block
       height: 250px
       padding-top: 0
       margin-bottom: 130px


.row_four
    display: flex
    justify-content: space-evenly
    align-items: center
    margin-bottom: 50px
    /* @sm */
    @media screen and (max-width: 768px)
        flex-wrap: wrap


.teacher
    width: 263.35px
    height: 372.73px
    object-fit: cover
    border-radius: 20px
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 263.35px
        height: 372.73px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 263.35px
        height: 372.73px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 263.35px
        height: 372.73px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 380px
        height: 600px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 263.35px
        height: 372.73px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 263.35px
        height: 372.73px
    /* @xs */
    @media screen and (max-width: 600px)
        width: 159px
        height: 220px
        border-radius: 10px
    /* @2xs */
    @media screen and (max-width: 480px)
        width: 159px
        height: 220px
        border-radius: 10px
    /* @3xs */
    @media screen and (max-width: 360px)
        width: 159px
        height: 220px
        border-radius: 10px


.teacher_column
    position: relative
    top: 0
    bottom: 0
    box-shadow: 4px 4px 9px 0 #a1a1a1
    border-radius: 20px
    /* @3xl */
    @media screen and (max-width: 1920px)
        border-radius: 20px
    /* @sm */
    @media screen and (max-width: 768px)
        border-radius: 18px
        margin-bottom: 10px
    /* @xs */
    @media screen and (max-width: 600px)
        border-radius: 10px


.fullName
    position: absolute
    bottom: 0
    background-color: #F9CC48
    width: 100%
    border-radius: 20px
    padding: 10px
    h2 
        font-size: 20px
        font-weight: 400
        color: white
        line-height: 24.41px
        text-align: center
        /* @3xl */
        @media screen and (max-width: 1920px)
            font-size: 20px
        /* @2xl */
        @media screen and (max-width: 1600px)
            font-size: 20px
        /* @xl */
        @media screen and (max-width: 1440px)
            font-size: 20px
        /* @lg */
        @media screen and (max-width: 1280px)
            font-size: 15px
        /* @md */
        @media screen and (max-width: 1024px)
            font-size: 14px
        /* @sm */
        @media screen and (max-width: 768px)
            font-size: 14px
            border-radius: 10px
        /* @xs */
        @media screen and (max-width: 600px)
            font-size: 14px
        /* @2xs */
        @media screen and (max-width: 480px)
            font-size: 14px
        /* @3xs */
        @media screen and (max-width: 360px)
            font-size: 14px
    /* @3xl */
    @media screen and (max-width: 1920px)
        padding: 10px
    /* @2xl */
    @media screen and (max-width: 1600px)
        padding: 10px
    /* @xl */
    @media screen and (max-width: 1440px)
        padding: 10px
    /* @lg */
    @media screen and (max-width: 1280px)
        padding: 10px
    /* @md */
    @media screen and (max-width: 1024px)
        padding: 10px
    /* @sm */
    @media screen and (max-width: 768px)
        padding: 10px
    /* @xs */
    @media screen and (max-width: 600px)
        padding: 5px
        border-radius: 10px
    /* @2xs */
    @media screen and (max-width: 480px)
        padding: 5px
        border-radius: 10px
    /* @3xs */
    @media screen and (max-width: 360px)
        padding: 5px
        border-radius: 10px