.image
    width: 483px
    height: 770px


.block
    display: flex    
    justify-content: center
    margin: 100px auto


.row_1
    width: 50%

.row_2
    width: 50%
    p
        color: #828282
        font-size: 20px
        font-weight: 400
        line-height: 24.41px
