.language
    width: 100%
    height: 456px
    /* @3xl */
    @media screen and (max-width: 1920px)
        height: 456px
    /* @2xl */
    @media screen and (max-width: 1600px)
        height: 456px
    /* @xl */
    @media screen and (max-width: 1440px)
        height: 380px
    /* @lg */
    @media screen and (max-width: 1280px)
        height: 350px
    /* @md */
    @media screen and (max-width: 1024px)
        height: 300px
    /* @sm */
    @media screen and (max-width: 768px)
        height: 250px
    /* @xs */
    @media screen and (max-width: 600px)
        height: 200px
    /* @2xs */
    @media screen and (max-width: 480px)
        height: 200px
    /* @3xs */
    @media screen and (max-width: 360px)
        height: 200px


.gallery
    display: flex
    justify-content: space-evenly
    margin: 20px auto
    /* @xs */
    @media screen and (max-width: 600px)
        display: flex
        justify-content: center
        flex-wrap: wrap


.link
    transition: transform .7s
    &:hover
        transform: scale(0.9)
    /* @xs */
    @media screen and (max-width: 600px)
        display: grid
        margin: 20px auto
        
