.question
	color: #006ED2
	font-weight: 700
	font-size: 32px
	line-height: 39.06px
	margin-bottom: 50px
	width: 80%
	/* @4xl */
	@media screen and (max-width: 2560px)
		font-size: 32px
		line-height: 39.06px
		margin-bottom: 50px
	/* @3xl */
	@media screen and (max-width: 1920px)
		font-size: 32px
		line-height: 39.06px
		margin-bottom: 40px
	/* @2xl */
	@media screen and (max-width: 1600px)
		font-size: 32px
		line-height: 39.06px
		margin-bottom: 30px
	/* @xl */
	@media screen and (max-width: 1440px)
		font-size: 20px
		line-height: 39.06px
		width: 100%
	/* @lg */
	@media screen and (max-width: 1280px)
		font-size: 20px
		line-height: 39.06px
		width: 90%
	/* @md */
	@media screen and (max-width: 1024px)
		font-size: 20px
		line-height: 20px
	/* @sm */
	@media screen and (max-width: 768px)
		font-size: 25px
		line-height: 20px
	/* @xs */
	@media screen and (max-width: 600px)
		display: none


.field
	/* @xs */
	@media screen and (max-width: 600px)
		display: none


.quiz
	/* @xs */
	@media screen and (max-width: 600px)
		display: none


.answer 
	align-items: center
	display: flex 
	position: relative 
	padding-left: 0 
	align-items: center
	margin-bottom: 12px 
	cursor: pointer 
	user-select: none 
	label
		margin-left: 20px
		font-size: 25px
		font-weight: 700
		line-height: 30.7px
		cursor: pointer
		&:hover
			color: #F9CC48
		/* @4xl */
		@media screen and (max-width: 2560px)
			font-size: 25px
			line-height: 30.7px
		/* @3xl */
		@media screen and (max-width: 1920px)
			font-size: 25px
			line-height: 30.7px
		/* @2xl */
		@media screen and (max-width: 1600px)
			font-size: 25px
			line-height: 20px
		/* @xl */
		@media screen and (max-width: 1440px)
			font-size: 20px
			line-height: 20px
		/* @lg */
		@media screen and (max-width: 1280px)
			font-size: 20px
			line-height: 20px
		/* @md */
		@media screen and (max-width: 1024px)
			font-size: 20px
			line-height: 20px
		/* @sm */
		@media screen and (max-width: 768px)
		/* @xs */
		@media screen and (max-width: 600px)
			display: none
	/* @xs */
	@media screen and (max-width: 600px)
		padding-left: 0
	/* @2xs */
	@media screen and (max-width: 480px)
		padding-left: 0
