.container
    background: #E3E1E1
    height: max-content
    position: relative
    /* 2xl */
    @media screen and ( max-width: 1536px )
      height: max-content
    /* xl */
    @media screen and ( max-width: 1280px )
      height: max-content
    /* lg */
    @media screen and ( max-width: 1024px )
      height: max-content
    /* md */
    @media screen and ( max-width: 768px )
      height: max-content
    /* sm */
    @media screen and ( max-width: 640px )
      height: max-content
    /* xs */
    @media screen and ( max-width: 475px )
      height: max-content


.triangle
    display: block
    height: 60px
    width: 40%
    position: relative
    transform: skew(44deg)
    bottom: 60px
    &:after 
      height: 60px
      width: 110%
      background: #E3E1E1
      margin: 0 auto
      position: absolute
      content: ''
      right: 0
    /* 2xl */
    @media screen and ( max-width: 1536px )
      bottom: 43px
      &:after 
        height: 45px
    /* xl */
    @media screen and ( max-width: 1280px )
      bottom: 42px
      &:after 
        height: 45px
    /* lg */
    @media screen and ( max-width: 1024px )
      bottom: 41px
      &:after 
        height: 45px
    /* md */
    @media screen and ( max-width: 768px )
      bottom: 35px
      &:after 
        height: 37px
    /* sm */
    @media screen and ( max-width: 640px )
      display: none


.title
    font-family: sans-serif
    position: absolute
    margin: 0 auto
    width: 100%
    color: #313131
    top: -55px
    font-size: 32px
    padding-right: var(--container-gap)
    padding-left: var(--container-gap)
    /* 2xl */
    @media screen and ( max-width: 1536px )
      font-size: 33px
      top: -40px
    /* xl */
    @media screen and ( max-width: 1280px )
      font-size: 30px
      top: -40px
    /* lg */
    @media screen and ( max-width: 1024px )
      font-size: 27px
      top: -37px
    /* md */
    @media screen and ( max-width: 768px )
      font-size: 24px
      top: -30px
    /* sm */
    @media screen and ( max-width: 640px )
      top: 15px
      text-align: center
      width: 100%
      position: relative
      margin-bottom: 20px
    /* xs */
    @media screen and ( max-width: 475px )
      top: 15px
      text-align: center
      width: 100%
      position: relative
      margin-bottom: 20px
