
$manImgPath: '../../../../../../public/assets/images/language/man.png'
$womanImgPath: '../../../../../../public/assets/images/language/woman.png'


.row
	display: flex
	justify-content: center
	align-items: center

.man
	background-image: url($manImgPath) 
	background-repeat: no-repeat
	background-size: contain
	background-position: left  
	height: 492px
	width: 200px
	position: relative
	left: 20px

.woman
	background-image: url($womanImgPath) 
	background-repeat: no-repeat
	background-size: contain
	background-position: right  
	height: 492px
	width: 200px
	position: relative
	right: 62px



