.block
    padding-top: 100px
    height: auto
    margin-bottom: 100px
    display: flex
    justify-content: flex-start
    align-items: flex-start

.left
    width: 60%

.right
    width: 40%

.title
    font-size: 30px
    line-height: 36px
    font-weight: 400
    color: #4D4D4D

.contacts
    display: flex
    justify-content: flex-start
    align-items: flex-start
    margin-top: 50px


.box
    width: 50%


.contactName
    font-size: 22px
    line-height: 36.22px
    font-weight: 400
    color: #666666
    margin-bottom: 10px

    
.contact,
.address
    font-size: 22px
    line-height: 36.22px
    font-weight: 300
    color: #666666
    margin-bottom: 10px
    white-space: pre-line

.social
    display: grid


.line
    width: 2px
    background: red