.section
    margin-bottom: 40px

.title
    color: #006ED2
    font-size: 70px
    font-weight: 400
    display: flex
    align-items: flex-end
    margin-bottom: 40px
    justify-content: flex-end
    &:after 
        content: ''
        flex: 0.9 1
        margin-left: 1rem
        height: 5px
        background-color: #006ED2
        border-radius: 5px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 70px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 60px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 50px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 40px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 40px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 40px
        &:after 
            content: ''
            flex: 1
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 40px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 30px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 30px



.arrow
    display: flex
    position: absolute
    top: 60px
    font-size: 20px
    padding: 5px 15px
    z-index: 10
    cursor: pointer
    /* 2xl */
    @media screen and ( max-width: 1536px )
        top: 60px
    /* xl */
    @media screen and ( max-width: 1280px )
        top: 60px
    /* lg */
    @media screen and ( max-width: 1024px )
        top: 170px
    /* md */
    @media screen and ( max-width: 768px )
        top: 160px
    /* sm */
    @media screen and ( max-width: 640px )
        top: 160px
    /* xs */
    @media screen and ( max-width: 475px )
        top: 180px
    /* @3xs */
    @media screen and (max-width: 360px)
        top: 150px
    svg
        /* xl */
        @media screen and ( max-width: 1280px )
            width: 25px
            height: 25px
        /* sm */
        @media screen and ( max-width: 640px )
            width: 17px
            height: 17px


.arrow_right
    right: -90px
    /* @4xl */
    @media screen and (max-width: 2560px)
        right: -90px
    /* @3xl */
    @media screen and (max-width: 1920px)
        right: -90px
    /* @2xl */
    @media screen and (max-width: 1600px)
        right: -80px
    /* @xl */
    @media screen and (max-width: 1440px)
        right: -30px
    /* @lg */
    @media screen and (max-width: 1280px)
        right: -30px
    /* @md */
    @media screen and (max-width: 1024px)
        right: 0
        background-color: #006ED2
        width: 50px
        height: 38px
        border-radius: 10px
    /* @sm */
    @media screen and (max-width: 768px)
        right: 0
        background-color: #006ED2
        width: 50px
        height: 38px
        border-radius: 10px
    /* @xs */
    @media screen and (max-width: 600px)
        right: 0
        background-color: #006ED2
        width: 50px
        height: 30px
        border-radius: 10px
    /* @2xs */
    @media screen and (max-width: 480px)
        right: 0
        background-color: #006ED2
        width: 40px
        height: 30px
        border-radius: 10px
    /* @3xs */
    @media screen and (max-width: 360px)
        right: 0
        background-color: #006ED2
        width: 40px
        height: 30px
        border-radius: 10px


.arrow_left
    left: -100px
    /* @4xl */
    @media screen and (max-width: 2560px)
        left: -100px
    /* @3xl */
    @media screen and (max-width: 1920px)
        left: -100px
    /* @2xl */
    @media screen and (max-width: 1600px)
        left: -100px
    /* @xl */
    @media screen and (max-width: 1440px)
        left: -50px
    /* @lg */
    @media screen and (max-width: 1280px)
        left: -60px
    /* @md */
    @media screen and (max-width: 1024px)
        left: auto
        right: 80px
        background-color: #006ED2
        width: 50px
        height: 38px
        border-radius: 10px
    /* @sm */
    @media screen and (max-width: 768px)
        left: auto
        right: 80px
        background-color: #006ED2
        width: 50px
        height: 38px
        border-radius: 10px
    /* @xs */
    @media screen and (max-width: 600px)
        left: auto
        right: 70px
        background-color: #006ED2
        width: 50px
        height: 30px
        border-radius: 10px
    /* @2xs */
    @media screen and (max-width: 480px)
        left: auto
        right: 70px
        background-color: #006ED2
        width: 40px
        height: 30px
        border-radius: 10px
    /* @3xs */
    @media screen and (max-width: 360px)
        left: auto
        right: 70px
        background-color: #006ED2
        width: 40px
        height: 30px
        border-radius: 10px


.partner
    width: 170px !important
    height: 170px
    background-color: #F9CC48
    padding: 20px
    border-radius: 20px
    box-shadow: 0 -1px 5px 2px #a1a1a1
    margin: 5px
    /* @4xl */
    @media screen and (max-width: 2560px)
        width: 170px !important
        height: 170px
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 170px !important
        height: 170px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 170px !important
        height: 170px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 170px !important
        height: 170px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 140px !important
        height: 140px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 150px !important
        height: 150px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 140px !important
        height: 140px
    /* @xs */
    @media screen and (max-width: 600px)
        width: 120px !important
        height: 120px
    /* @2xs */
    @media screen and (max-width: 480px)
        width: 150px !important
        height: 150px
        box-shadow: 0 0 0 0
    /* @3xs */
    @media screen and (max-width: 360px)
        width: 120px !important
        height: 120px
        

.slider
    width: 100%