
.partners
    height: 400px
    position: relative
    /* 2xl */
    @media screen and ( max-width: 1536px )
      padding: 0
    /* xl */
    @media screen and ( max-width: 1280px )
      padding: 0
    /* lg */
    @media screen and ( max-width: 1024px )
      padding: 0
      bottom: 106px
    /* md */
    @media screen and ( max-width: 768px )
       padding-top: 0
       height: 297px
       position: relative
       bottom: 115px
    /* sm */
    @media screen and ( max-width: 640px )
       display: block
       height: 600px
       bottom: 40px    /* xs */
    @media screen and ( max-width: 475px )
       display: block
       height: 600px
       bottom: 40px






.arrow
    display: flex
    position: absolute
    top: 80px
    font-size: 20px
    padding: 5px 15px
    z-index: 10
    cursor: pointer
    /* 2xl */
    @media screen and ( max-width: 1536px )
        top: 172px
    /* xl */
    @media screen and ( max-width: 1280px )
        top: 172px
    /* lg */
    @media screen and ( max-width: 1024px )
        top: 113px
    /* md */
    @media screen and ( max-width: 768px )
        top: 118px
    /* sm */
    @media screen and ( max-width: 640px )
        top: 300px
    /* xs */
    @media screen and ( max-width: 475px )
        top: 300px


.arrow_right
    right: -100px
    /* lg */
    @media screen and ( max-width: 1024px )
        right: 0
    /* md */
    @media screen and ( max-width: 768px )
        right: -15px
    /* sm */
    @media screen and ( max-width: 640px )
    /* xs */
    @media screen and ( max-width: 475px )


.arrow_left
    left: -100px
    /* lg */
    @media screen and ( max-width: 1024px )
        left: 0
    /* md */
    @media screen and ( max-width: 768px )
        left: -15px
    /* sm */
    @media screen and ( max-width: 640px )
    /* xs */
    @media screen and ( max-width: 475px )