.section
    margin-bottom: 40px


.title
    color: #006ED2
    font-size: 70px
    font-weight: 400
    display: flex
    align-items: flex-end
    margin-bottom: 40px
    justify-content: flex-end
    &:after 
        content: ''
        flex: 0.9 1
        margin-left: 1rem
        height: 5px
        background-color: #006ED2
        border-radius: 5px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 70px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 60px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 50px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 40px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 40px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 40px
        &:after 
            content: ''
            flex: 1
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 40px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 40px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 40px



.arrow
    display: flex
    position: absolute
    top: 80px
    font-size: 20px
    padding: 5px 15px
    z-index: 10
    cursor: pointer
    /* 2xl */
    @media screen and ( max-width: 1536px )
        top: 172px
    /* xl */
    @media screen and ( max-width: 1280px )
        top: 172px
    /* lg */
    @media screen and ( max-width: 1024px )
        top: 113px
    /* md */
    @media screen and ( max-width: 768px )
        top: 118px
    /* sm */
    @media screen and ( max-width: 640px )
        top: 300px
    /* xs */
    @media screen and ( max-width: 475px )
        top: 300px


.arrow_right
    right: -100px
    /* lg */
    @media screen and ( max-width: 1024px )
        right: 0
    /* md */
    @media screen and ( max-width: 768px )
        right: -15px
    /* sm */
    @media screen and ( max-width: 640px )
    /* xs */
    @media screen and ( max-width: 475px )


.arrow_left
    left: -100px
    /* lg */
    @media screen and ( max-width: 1024px )
        left: 0
    /* md */
    @media screen and ( max-width: 768px )
        left: -15px
    /* sm */
    @media screen and ( max-width: 640px )
    /* xs */
    @media screen and ( max-width: 475px )