$imagePath: '../../../../../../public/assets/images/language/people.png'


.section
    background-image: url($imagePath) 
    background-repeat: no-repeat
    background-size: contain
    background-position: top  
    height: 500px
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 100%
        height: 430px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 100%
        height: 350px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 100%
        height: 350px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 100%
        height: 300px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 100%
        height: 250px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%
        height: 200px
    /* @xs */
    @media screen and (max-width: 600px)
        width: 100%
        height: 140px
    /* @2xs */
    @media screen and (max-width: 480px)
        width: 100%
        height: 115px
    /* @3xs */
    @media screen and (max-width: 360px)
        width: 100%
        height: 90px


 







