.form
	width: 868px
	height: 492px
	background-color: #fff
	box-shadow: 1px 6px 8px 5px #0000003d
	border-radius: 35px
	position: relative
	padding: 10px 80px
	display: inline
	/* @4xl */
	@media screen and (max-width: 2560px)
		width: 868px
		height: 492px
		background-color: #fff
		box-shadow: 1px 6px 8px 5px #0000003d
		border-radius: 30px
		position: relative
		padding: 10px 80px
		display: inline
	/* @3xl */
	@media screen and (max-width: 1920px)
		width: 868px
		height: 492px
		background-color: #fff
		box-shadow: 1px 6px 8px 5px #0000003d
		border-radius: 30px
		position: relative
		padding: 10px 80px
		display: inline
	/* @2xl */
	@media screen and (max-width: 1600px)
		width: 868px
		height: 492px
		background-color: #fff
		box-shadow: 1px 6px 8px 5px #0000003d
		border-radius: 30px
		position: relative
		padding: 10px 80px
		display: inline
	/* @xl */
	@media screen and (max-width: 1440px)
		width: 868px
		height: 492px
		background-color: #fff
		box-shadow: 1px 6px 8px 5px #0000003d
		border-radius: 30px
		position: relative
		padding: 10px 80px
		display: inline
	/* @lg */
	@media screen and (max-width: 1280px)
		width: 70%
		height: 419px
		background-color: #fff
		box-shadow: 1px 6px 8px 5px #0000003d
		border-radius: 27px
		position: relative
		padding: 10px 80px
		display: inline
	/* @md */
	@media screen and (max-width: 1024px)
		width: 90%
		height: 480px
		background-color: #fff
		box-shadow: 1px 6px 8px 5px #0000003d
		border-radius: 27px
		position: relative
		padding: 10px 20px
		display: inline
	/* @sm */
	@media screen and (max-width: 768px)
		width: 100%
		height: 480px
		background-color: #fff
		box-shadow: 1px 6px 8px 5px #0000003d
		border-radius: 27px
		position: relative
		padding: 10px 27px
		display: inline
	/* @xs */
	@media screen and (max-width: 600px)
		padding: 10px 30px
		height: max-content
		width: 90%
		box-shadow: 0 0 0 0
		border-radius: 0
		display: flex
	/* @2xs */
	@media screen and (max-width: 480px)
		padding: 10px 30px
		height: max-content
		width: 90%
		box-shadow: 0 0 0 0
		border-radius: 0
		display: flex
	/* @3xs */
	@media screen and (max-width: 360px)
		padding: 10px 30px
		height: max-content
		width: 90%
		box-shadow: 0 0 0 0
		border-radius: 0
		display: flex


.header
	display: flex
	align-items: center
	justify-content: space-around
