.stapler
	width: 300px
	margin: 0 auto
	position: relative
	top: 10px
	z-index: 5
	/* @4xl */
	@media screen and (max-width: 2560px)
		width: 300px
	/* @3xl */
	@media screen and (max-width: 1920px)
		width: 300px
	/* @2xl */
	@media screen and (max-width: 1600px)
		width: 300px
	/* @xl */
	@media screen and (max-width: 1440px)
		width: 250px
	/* @lg */
	@media screen and (max-width: 1280px)
		width: 250px
	/* @md */
	@media screen and (max-width: 1024px)
		width: 250px
	@media screen and (max-width: 980px)
		width: 170px
	/* @sm */
	@media screen and (max-width: 768px)
		width: 140px
		height: 70px
	/* @xs */
	@media screen and (max-width: 600px)
		width: 90%
	/* @2xs */
	@media screen and (max-width: 480px)
		width: 90%
	/* @3xs */
	@media screen and (max-width: 360px)
		width: 90%

.slide-left
	display: grid
	justify-content: center
	width: 400px
	/* @4xl */
	@media screen and (max-width: 2560px)
		display: grid
		justify-content: center
		width: 400px
	/* @3xl */
	@media screen and (max-width: 1920px)
		display: grid
		justify-content: center
		width: 400px
	/* @2xl */
	@media screen and (max-width: 1600px)
		display: grid
		justify-content: center
		width: 400px
	/* @xl */
	@media screen and (max-width: 1440px)
		display: grid
		justify-content: center
		width: 400px
	/* @lg */
	@media screen and (max-width: 1280px)
		display: grid
		justify-content: center
		width: 400px
	/* @md */
	@media screen and (max-width: 1024px)
		display: grid
		justify-content: center
		width: 400px
	@media screen and (max-width: 980px)
		display: grid
		justify-content: flex-end
		width: 400px
	/* @sm */
	@media screen and (max-width: 768px)
		display: grid
		justify-content: flex-end
		width: 50%
	/* @xs */
	@media screen and (max-width: 600px)
		display: grid
		justify-content: center
		width: 50%
	/* @2xs */
	@media screen and (max-width: 480px)
		display: grid
		justify-content: center
		width: 50%
	/* @3xs */
	@media screen and (max-width: 360px)
		display: grid
		justify-content: center
		width: 50%

.slide-right
	display: grid
	justify-content: center
	width: 400px
	/* @4xl */
	@media screen and (max-width: 2560px)
		display: grid
		justify-content: center
		width: 400px
	/* @3xl */
	@media screen and (max-width: 1920px)
		display: grid
		justify-content: center
		width: 400px
	/* @2xl */
	@media screen and (max-width: 1600px)
		display: grid
		justify-content: center
		width: 400px
	/* @xl */
	@media screen and (max-width: 1440px)
		display: grid
		justify-content: center
		width: 400px
	/* @lg */
	@media screen and (max-width: 1280px)
		display: grid
		justify-content: center
		width: 400px
	/* @md */
	@media screen and (max-width: 1024px)
		display: grid
		justify-content: center
		width: 400px
	@media screen and (max-width: 980px)
		display: grid
		justify-content: flex-start
		width: 400px
	/* @sm */
	@media screen and (max-width: 768px)
		display: none

.view-btn
	display: none
	background-color: #4B352B
	width: 150px
	color: #fff
	font-weight: 700
	/* @sm */
	@media screen and (max-width: 768px)
		display: block
		height: 30px
		font-size: 13px
		border-radius: 10px
		margin-top: 50px
	/* @xs */
	@media screen and (max-width: 600px)
		display: block
		height: 30px
		font-size: 13px
		border-radius: 10px
		margin-top: 50px
	/* @2xs */
	@media screen and (max-width: 480px)
		display: block
		height: 30px
		font-size: 13px
		border-radius: 7px
		margin-top: 20px
	/* @3xs */
	@media screen and (max-width: 360px)
		display: block
		height: 30px	   		
		font-size: 10px
		width: 100px
		border-radius: 5px
		margin-top: 0

.box
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 50px
	/* @4xl */
	@media screen and (max-width: 2560px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
	/* @3xl */
	@media screen and (max-width: 1920px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
	/* @2xl */
	@media screen and (max-width: 1600px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
	/* @xl */
	@media screen and (max-width: 1440px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
	/* @lg */
	@media screen and (max-width: 1280px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
	/* @md */
	@media screen and (max-width: 1024px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
	/* @sm */
	@media screen and (max-width: 768px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
		margin: 0 auto
	/* @xs */
	@media screen and (max-width: 600px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
		margin: 0 auto
	/* @2xs */
	@media screen and (max-width: 480px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
		margin: 0 auto
	/* @3xs */
	@media screen and (max-width: 360px)
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 50px
		margin: 0 auto

.section
	position: relative

.view-text
	text-align: center
	font-size: 20px
	font-weight: 700
	color: #FFFFFF
	margin-right: 20px
	transition: color 0.25s
	&:hover
		color: #D7D3CE
	/* @xl */
	@media screen and (max-width: 1440px)
		font-size: 17px
	@media screen and (max-width: 980px)
		font-size: 15px
	/* @sm */
	@media screen and (max-width: 768px)
		font-size: 15px

.title-large
	font-size: 50px
	font-weight: 700
	line-height: 65px
	color: #D7D3CE
	margin-bottom: 150px
	/* @4xl */
	@media screen and (max-width: 2560px)
		font-size: 50px
		line-height: 65px
	/* @3xl */
	@media screen and (max-width: 1920px)
		font-size: 50px
		line-height: 65px
	/* @2xl */
	@media screen and (max-width: 1600px)
		font-size: 40px
		line-height: 65px
	/* @xl */
	@media screen and (max-width: 1440px)
		font-size: 40px
		line-height: 65px
		margin-bottom: 20px
	/* @lg */
	@media screen and (max-width: 1280px)
		font-size: 40px
		line-height: 70px
	/* @md */
	@media screen and (max-width: 1024px)
		font-size: 40px
		line-height: 70px
	@media screen and (max-width: 980px)
		font-size: 30px
		line-height: 50px
		margin-bottom: 0
	/* @sm */
	@media screen and (max-width: 768px)
		font-size: 30px
		line-height: 30px
		margin-bottom: 20px
	/* @xs */
	@media screen and (max-width: 600px)
		font-size: 30px
		line-height: 30px
		margin-bottom: 20px
	/* @2xs */
	@media screen and (max-width: 480px)
		font-size: 20px
		line-height: 20px
		margin-bottom: 20px
	/* @3xs */
	@media screen and (max-width: 360px)
		font-size: 15px
		line-height: 15px
		margin-bottom: 15px

.title
	white-space: pre-line
	font-size: 90px
	font-weight: 700
	line-height: 103.57px
	color: #D7D3CE
	margin-bottom: 100px
	/* @4xl */
	@media screen and (max-width: 2560px)
		font-size: 90px
		line-height: 103.57px
	/* @3xl */
	@media screen and (max-width: 1920px)
		font-size: 90px
		line-height: 103.57px
	/* @2xl */
	@media screen and (max-width: 1600px)
		font-size: 70px
		line-height: 80px
	/* @xl */
	@media screen and (max-width: 1440px)
		font-size: 60px
		line-height: 70px
		margin-bottom: 70px
	/* @lg */
	@media screen and (max-width: 1280px)
		font-size: 60px
		line-height: 70px
	/* @md */
	@media screen and (max-width: 1024px)
		font-size: 60px
		line-height: 70px
	@media screen and (max-width: 980px)
		font-size: 45px
		line-height: 50px
		margin-bottom: 0
	/* @sm */
	@media screen and (max-width: 768px)
		font-size: 30px
		line-height: 30px
		margin-bottom: 20px
	/* @xs */
	@media screen and (max-width: 600px)
		font-size: 30px
		line-height: 30px
		margin-bottom: 20px
	/* @2xs */
	@media screen and (max-width: 480px)
		font-size: 20px
		line-height: 20px
		margin-bottom: 20px
	/* @3xs */
	@media screen and (max-width: 360px)
		font-size: 15px
		line-height: 15px
		margin-bottom: 15px

.title-left
	text-align: left
	/* @sm */
	@media screen and (max-width: 768px)
		text-align: left

.title-right
	text-align: right

.design-title-left
	text-align: left

.design-title-right
	text-align: right
	/* @sm */
	@media screen and (max-width: 768px)
		display: none

.design-title-large
	font-size: 20px
	font-weight: 700
	color: #FFFFFF
	position: relative
	bottom: 0
	/* @4xl */
	@media screen and (max-width: 2560px)
		font-size: 20px
	/* @3xl */
	@media screen and (max-width: 1920px)
		font-size: 20px
	/* @2xl */
	@media screen and (max-width: 1600px)
		font-size: 20px
		bottom: 5px
	/* @xl */
	@media screen and (max-width: 1440px)
		font-size: 20px
		bottom: 0
		top: 32px
	/* @lg */
	@media screen and (max-width: 1280px)
		font-size: 15px
		bottom: 0
		top: 30px
	/* @md */
	@media screen and (max-width: 1024px)
		font-size: 15px
	@media screen and (max-width: 980px)
		font-size: 14px
		top: 50px
		bottom: 0
	@media screen and (max-width: 850px)
		font-size: 14px
		top: 90px
		bottom: 0
	/* @sm */
	@media screen and (max-width: 768px)
		display: none

.design-title
	font-size: 30px
	font-weight: 700
	color: #FFFFFF
	position: relative
	bottom: 40px
	/* @4xl */
	@media screen and (max-width: 2560px)
		font-size: 30px
	/* @3xl */
	@media screen and (max-width: 1920px)
		font-size: 30px
	/* @2xl */
	@media screen and (max-width: 1600px)
		font-size: 30px
		bottom: 15px
	/* @xl */
	@media screen and (max-width: 1440px)
		font-size: 20px
		bottom: 30px
	/* @lg */
	@media screen and (max-width: 1280px)
		font-size: 17px
	/* @md */
	@media screen and (max-width: 1024px)
		font-size: 17px
	@media screen and (max-width: 980px)
		font-size: 14px
		top: 25px
		bottom: 0	
	@media screen and (max-width: 800px)
		font-size: 14px
		top: 25px
		bottom: 0	
	/* @sm */
	@media screen and (max-width: 768px)
		display: none

.design-title-mobile
	font-size: 30px
	font-weight: 700
	color: #FFFFFF
	margin-right: 0
	/* @sm */
	@media screen and (max-width: 768px)
		font-size: 20px
		color: #8E685C
	/* @xs */
	@media screen and (max-width: 600px)
		font-size: 15px
		color: #8E685C
	/* @2xs */
	@media screen and (max-width: 480px)
		font-size: 13px
		color: #8E685C
	/* @3xs */
	@media screen and (max-width: 360px)
		font-size: 13px
		color: #8E685C

.content
	font-size: 22px
	font-weight: 700
	color: #818181
	width: 100%
	max-height: 70px
	height: 70px
	/* @4xl */
	@media screen and (max-width: 2560px)
		font-size: 22px
	/* @3xl */
	@media screen and (max-width: 1920px)
		font-size: 22px
	/* @2xl */
	@media screen and (max-width: 1600px)
		font-size: 20px
	/* @xl */
	@media screen and (max-width: 1440px)
		font-size: 17px
	/* @lg */
	@media screen and (max-width: 1280px)
		font-size: 17px
	/* @md */
	@media screen and (max-width: 1024px)
		font-size: 17px
	@media screen and (max-width: 980px)
		font-size: 13px
	/* @sm */
	@media screen and (max-width: 768px)
		font-size: 13px
		margin-bottom: 20px
	/* @xs */
	@media screen and (max-width: 600px)
		font-size: 12px
		margin-bottom: 20px
	/* @2xs */
	@media screen and (max-width: 480px)
		font-size: 10px
		margin-bottom: 20px
	/* @3xs */
	@media screen and (max-width: 360px)
		font-size: 10px
		margin-bottom: 20px

.right
	width: 45%
	/* @4xl */
	@media screen and (max-width: 2560px)
		width: 45%
	/* @3xl */
	@media screen and (max-width: 1920px)
		width: 45%
	/* @2xl */
	@media screen and (max-width: 1600px)
		width: 45%
	/* @xl */
	@media screen and (max-width: 1440px)
		width: 45%
	/* @lg */
	@media screen and (max-width: 1280px)
		width: 45%
	/* @md */
	@media screen and (max-width: 1024px)
		width: 45%
	/* @sm */
	@media screen and (max-width: 768px)
		width: 50%
		margin-top: 70px
	/* @xs */
	@media screen and (max-width: 600px)
		width: 50%
		margin-top: 70px
	/* @2xs */
	@media screen and (max-width: 480px)
		width: 50%
		margin-top: 70px
	/* @3xs */
	@media screen and (max-width: 360px)
		width: 50%
		margin-top: 70px

/* Card UI Left */
.box-left
	flex-direction: row

.corner-left
	width: 60%
	height: 50px 
	background-color: #4B352B 
	position: absolute 
	display: flex
	align-items: center
	justify-content: left
	right: 0
	&:before 
		top: 0 
		background: linear-gradient(to top left, #4B352B 50%, transparent 51%) 
		content: "" 
		position: absolute 
		right: 100% 
		width: 90px 
		height: 100% 
	/* @4xl */
	@media screen and (max-width: 2560px)
		width: 60%
		height: 50px 
		background-color: #4B352B 
		position: absolute 
		display: flex
		align-items: center
		justify-content: left
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top left, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100% 
			width: 90px 
			height: 100% 
	/* @3xl */
	@media screen and (max-width: 1920px)
		width: 60%
		height: 50px 
		background-color: #4B352B 
		position: absolute 
		display: flex
		align-items: center
		justify-content: left
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top left, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100% 
			width: 90px 
			height: 100% 
	/* @2xl */
	@media screen and (max-width: 1600px)
		width: 60%
		height: 50px 
		background-color: #4B352B 
		position: absolute 
		display: flex
		align-items: center
		justify-content: left
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top left, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100% 
			width: 90px 
			height: 100% 
	/* @xl */
	@media screen and (max-width: 1440px)
		width: 50%
		height: 50px 
		background-color: #4B352B 
		position: absolute 
		display: flex
		align-items: center
		justify-content: left
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top left, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100% 
			width: 90px 
			height: 100% 
	/* @lg */
	@media screen and (max-width: 1280px)
		width: 52%
		height: 50px 
		background-color: #4B352B 
		position: absolute 
		display: flex
		align-items: center
		justify-content: left
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top left, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100% 
			width: 90px 
			height: 100% 
	/* @md */
	@media screen and (max-width: 1024px)
		width: 55%
		height: 50px 
		background-color: #4B352B 
		position: absolute 
		display: flex
		align-items: center
		justify-content: left
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top left, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100% 
			width: 90px 
			height: 100% 
	@media screen and (max-width: 980px)
		width: 49%
		height: 35px 
		background-color: #4B352B 
		position: absolute 
		display: flex
		align-items: center
		justify-content: left
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top left, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100% 
			width: 30px 
			height: 100% 
	/* @sm */
	@media screen and (max-width: 768px)
		display: none

.view-left
	position: absolute
	bottom: 120px
	width: 100%
	z-index: 0
	/* @md */
	@media screen and (max-width: 1024px)
		bottom: 100px
	/* @sm */
	@media screen and (max-width: 768px)
		bottom: 70px

.corner-large-left
	position: absolute
	text-align: center
	background: #8E685C
	left: 0
	bottom: 33%
	width: 43%
	height: 80px
	margin-bottom: 60px
	display: flex
	align-items: center
	justify-content: center
	&:before 
		top: 0px 
		background: linear-gradient(to top right, #8E685C 50%, transparent 51%) 
		content: "" 
		position: absolute 
		left: 100%
		width: 90px 
		height: 100%
	/* @4xl */
	@media screen and (max-width: 2560px)
		position: absolute
		background: #8E685C
		left: 0
		bottom: 33%
		width: 43%
		height: 80px
		&:before 
			top: 0px 
			background: linear-gradient(to top right, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100%
			width: 90px 
			height: 100%
	/* @3xl */
	@media screen and (max-width: 1920px)
		position: absolute
		background: #8E685C
		left: 0
		bottom: 33%
		width: 43%
		height: 80px
		&:before 
			top: 0px 
			background: linear-gradient(to top right, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100%
			width: 90px 
			height: 100%
	/* @2xl */
	@media screen and (max-width: 1600px)
		position: absolute
		background: #8E685C
		left: 0
		bottom: 33%
		width: 43%
		height: 80px
		&:before 
			top: 0px 
			background: linear-gradient(to top right, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100%
			width: 90px 
			height: 100%
	/* @xl */
	@media screen and (max-width: 1440px)
		position: absolute
		background: #8E685C
		left: 0
		bottom: 33%
		width: 40%
		height: 60px
		&:before 
			top: 0px 
			background: linear-gradient(to top right, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100%
			width: 90px 
			height: 100%
	/* @lg */
	@media screen and (max-width: 1280px)
		position: absolute
		background: #8E685C
		left: 0
		bottom: 33%
		width: 44%
		height: 60px
		&:before 
			top: 0px 
			background: linear-gradient(to top right, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100%
			width: 90px 
			height: 100%
	/* @md */
	@media screen and (max-width: 1024px)
		position: absolute
		background: #8E685C
		left: 0
		bottom: 33%
		width: 45%
		height: 60px
		&:before 
			top: 0px 
			background: linear-gradient(to top right, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100%
			width: 90px 
			height: 100%
	@media screen and (max-width: 980px)
		position: absolute
		background: #8E685C
		left: 0
		bottom: 27%
		width: 47%
		height: 45px
		justify-content: center
		&:before 
			top: 0px 
			background: linear-gradient(to top right, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100%
			width: 45px 
			height: 100%
	/* @sm */
	@media screen and (max-width: 768px)
		display: none

/* Card UI Right */
.box-right
	flex-direction: row-reverse
		
.corner-right
	width: 60%
	height: 50px 
	background-color: #4B352B 
	position: relative 
	display: flex
	align-items: center
	justify-content: right
	right: 0
	&:before 
		top: 0 
		background: linear-gradient(to top right, #4B352B 50%, transparent 51%) 
		content: "" 
		position: absolute 
		left: 100% 
		width: 90px 
		height: 100% 
	/* @4xl */
	@media screen and (max-width: 2560px)
		width: 60%
		height: 50px 
		background-color: #4B352B 
		position: relative 
		display: flex
		align-items: center
		justify-content: right
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top right, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100% 
			width: 90px 
			height: 100% 
	/* @3xl */
	@media screen and (max-width: 1920px)
		width: 60%
		height: 50px 
		background-color: #4B352B 
		position: relative 
		display: flex
		align-items: center
		justify-content: right
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top right, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100% 
			width: 90px 
			height: 100% 
	/* @2xl */
	@media screen and (max-width: 1600px)
		width: 60%
		height: 50px 
		background-color: #4B352B 
		position: relative 
		display: flex
		align-items: center
		justify-content: right
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top right, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100% 
			width: 90px 
			height: 100% 
	/* @xl */
	@media screen and (max-width: 1440px)
		width: 50%
		height: 40px 
		background-color: #4B352B 
		position: relative 
		display: flex
		align-items: center
		justify-content: right
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top right, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100% 
			width: 90px 
			height: 100% 
	/* @lg */
	@media screen and (max-width: 1280px)
		width: 54%
		height: 50px 
		background-color: #4B352B 
		position: relative 
		display: flex
		align-items: center
		justify-content: right
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top right, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100% 
			width: 90px 
			height: 100% 
	/* @md */
	@media screen and (max-width: 1024px)
		width: 57%
		height: 50px 
		background-color: #4B352B 
		position: relative 
		display: flex
		align-items: center
		justify-content: right
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top right, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100% 
			width: 90px 
			height: 100% 
	@media screen and (max-width: 980px)
		width: 51%
		height: 35px 
		background-color: #4B352B 
		position: relative 
		display: flex
		align-items: center
		justify-content: right
		right: 0
		&:before 
			top: 0 
			background: linear-gradient(to top right, #4B352B 50%, transparent 51%) 
			content: "" 
			position: absolute 
			left: 100% 
			width: 30px 
			height: 100% 
	/* @sm */
	@media screen and (max-width: 768px)
		display: none

.view-right
	position: absolute
	bottom: 80px
	width: 100%
	z-index: 0
	/* @md */
	@media screen and (max-width: 1024px)
		bottom: 50px

.corner-large-right
	position: absolute
	background: #8E685C
	right: 0
	bottom: 33%
	width: 43%
	height: 80px
	margin-bottom: 40px
	display: flex
	align-items: center
	justify-content: center
	margin-bottom: 60px
	&:before 
		top: 0px 
		background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
		content: "" 
		position: absolute 
		right: 100%
		width: 90px 
		height: 100% 
	/* @4xl */
	@media screen and (max-width: 2560px)
		position: absolute
		background: #8E685C
		right: 0
		bottom: 33%
		width: 43%
		height: 80px
		&:before 
			top: 0px 
			background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100%
			width: 90px 
			height: 100% 
	/* @3xl */
	@media screen and (max-width: 1920px)
		position: absolute
		background: #8E685C
		right: 0
		bottom: 33%
		width: 43%
		height: 80px
		&:before 
			top: 0px 
			background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100%
			width: 90px 
			height: 100% 
	/* @2xl */
	@media screen and (max-width: 1600px)
		position: absolute
		background: #8E685C
		right: 0
		bottom: 33%
		width: 43%
		height: 80px
		&:before 
			top: 0px 
			background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100%
			width: 90px 
			height: 100% 
	/* @xl */
	@media screen and (max-width: 1440px)
		position: absolute
		background: #8E685C
		right: 0
		bottom: 33%
		width: 42%
		height: 60px
		&:before 
			top: 0px 
			background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100%
			width: 90px 
			height: 100% 
	/* @lg */
	@media screen and (max-width: 1280px)
		position: absolute
		background: #8E685C
		right: 0
		bottom: 33%
		width: 42%
		height: 60px
		&:before 
			top: 0px 
			background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100%
			width: 90px 
			height: 100% 
	/* @md */
	@media screen and (max-width: 1024px)
		position: absolute
		background: #8E685C
		right: 0
		bottom: 33%
		width: 45%
		height: 60px
		&:before 
			top: 0px 
			background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100%
			width: 90px 
			height: 100% 
	@media screen and (max-width: 980px)
		position: absolute
		background: #8E685C
		right: 0
		bottom: 27%
		width: 47%
		height: 45px
		justify-content: center
		&:before 
			top: 0px 
			background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
			content: "" 
			position: absolute 
			right: 100%
			width: 45px 
			height: 100% 
	/* @sm */
	@media screen and (max-width: 768px)
		display: none

.design-image
	width: 400px
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	height: 600px
	position: relative
	z-index: 2
	/* @4xl */
	@media screen and (max-width: 2560px)
		width: 400px
		height: 600px
	/* @3xl */
	@media screen and (max-width: 1920px)
		width: 400px
		height: 600px
	/* @2xl */
	@media screen and (max-width: 1600px)
		width: 400px
		height: 600px
	/* @xl */
	@media screen and (max-width: 1440px)
		width: 300px
		height: 450px
	/* @lg */
	@media screen and (max-width: 1280px)
		width: 300px
		height: 450px
	/* @md */
	@media screen and (max-width: 1024px)
		width: 300px
		height: 450px
	@media screen and (max-width: 980px)
		width: 200px
		height: 300px
	/* @sm */
	@media screen and (max-width: 768px)
		width: 210px
		height: 290px
	/* @xs */
	@media screen and (max-width: 600px)
		width: 100%
		height: 140px
	/* @2xs */
	@media screen and (max-width: 480px)
		width: 100%
		height: 140px
	/* @3xs */
	@media screen and (max-width: 360px)
		width: 100%
		height: 140px

.active
	display: block

.next
	display: none