.container
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 20px
    /* @xs */
    @media screen and (max-width: 600px)
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 15px

.answer
    width: 40%
    margin: 20px
    /* @4xl */
    @media screen and (max-width: 2560px)
        width: 40%
        margin: 20px
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 40%
        margin: 20px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 40%
        margin: 20px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 40%
        margin: 20px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 40%
        margin: 20px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 40%
        margin: 20px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 40%
        margin: 20px
    /* @xs */
    @media screen and (max-width: 600px)
        width: 100%
        margin: 0
    /* @2xs */
    @media screen and (max-width: 480px)
        width: 100%
        margin: 0 
    /* @3xs */
    @media screen and (max-width: 360px)
        width: 100%
        margin: 0

.title
    text-align: center
    margin-bottom: 20px
    color: #006ED2
    font-size: 50px
    font-weight: 400
    /* @4xl */
    @media screen and (max-width: 2560px)
        margin-bottom: 20px
        font-size: 50px
    /* @3xl */
    @media screen and (max-width: 1920px)
        margin-bottom: 20px
        font-size: 50px
    /* @2xl */
    @media screen and (max-width: 1600px)
        margin-bottom: 20px
        font-size: 50px
    /* @xl */
    @media screen and (max-width: 1440px)
        margin-bottom: 20px
        font-size: 50px
    /* @lg */
    @media screen and (max-width: 1280px)
        margin-bottom: 20px
        font-size: 30px
    /* @md */
    @media screen and (max-width: 1024px)
        margin-bottom: 20px
        font-size: 30px
    /* @sm */
    @media screen and (max-width: 768px)
        margin-bottom: 20px
        font-size: 30px
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 30px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 22px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 20px

.question
    color: #006ED2  
    font-size: 17px 
    margin-bottom: 20px
    height: 100px
    /* @4xl */
    @media screen and (max-width: 2560px)
        font-size: 17px 
        margin-bottom: 20px
        height: 100px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 17px 
        margin-bottom: 20px
        height: 100px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 17px 
        margin-bottom: 20px
        height: 100px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 17px 
        margin-bottom: 20px
        height: 100px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 15px 
        margin-bottom: 20px
        height: 100px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 15px 
        margin-bottom: 20px
        height: 100px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 15px 
        margin-bottom: 20px
        height: 100px
    /* @xs */
    @media screen and (max-width: 600px)
        height: max-content
        font-size: 14px 
    /* @2xs */
    @media screen and (max-width: 480px)
        height: max-content
        font-size: 14px 
    /* @3xs */
    @media screen and (max-width: 360px)
        height: max-content
        font-size: 14px 

.correct
    border-radius: 10px
    padding: 20px
    margin-bottom: 10px
    display: flex
    justify-content: space-between
    align-items: center
    /* @4xl */
    @media screen and (max-width: 2560px)
        padding: 20px
        margin-bottom: 10px
    /* @3xl */
    @media screen and (max-width: 1920px)
        padding: 20px
        margin-bottom: 10px
    /* @2xl */
    @media screen and (max-width: 1600px)
        padding: 20px
        margin-bottom: 10px
    /* @xl */
    @media screen and (max-width: 1440px)
        padding: 20px
        margin-bottom: 10px
    /* @lg */
    @media screen and (max-width: 1280px)
        padding: 10px
        margin-bottom: 10px
    /* @md */
    @media screen and (max-width: 1024px)
        padding: 10px
        margin-bottom: 10px
    /* @sm */
    @media screen and (max-width: 768px)
        padding: 10px
        margin-bottom: 10px
    /* @xs */
    @media screen and (max-width: 600px)
        padding: 15px
        font-size: 14px
    /* @2xs */
    @media screen and (max-width: 480px)
        padding: 15px
        font-size: 14px
    /* @3xs */
    @media screen and (max-width: 360px)
        padding: 12px
        font-size: 14px

.correct_color
    background: #F9CC48

.wrong
    background: #dedede
    display: flex
    border-radius: 10px
    padding: 20px
    margin-bottom: 10px
    justify-content: space-between
    align-items: center
    /* @4xl */
    @media screen and (max-width: 2560px)
        padding: 20px
        margin-bottom: 10px
    /* @3xl */
    @media screen and (max-width: 1920px)
        padding: 20px
        margin-bottom: 10px
    /* @2xl */
    @media screen and (max-width: 1600px)
        padding: 20px
        margin-bottom: 10px
    /* @xl */
    @media screen and (max-width: 1440px)
        padding: 20px
        margin-bottom: 10px
    /* @lg */
    @media screen and (max-width: 1280px)
        padding: 10px
        margin-bottom: 10px
        font-size: 15px
    /* @md */
    @media screen and (max-width: 1024px)
        padding: 10px
        margin-bottom: 10px
        font-size: 15px
    /* @sm */
    @media screen and (max-width: 768px)
        padding: 10px
        margin-bottom: 10px
        font-size: 15px
    /* @xs */
    @media screen and (max-width: 600px)
        padding: 15px
        font-size: 14px
    /* @2xs */
    @media screen and (max-width: 480px)
        padding: 15px
        font-size: 14px
    /* @3xs */
    @media screen and (max-width: 360px)
        padding: 12px
        font-size: 14px

.text   
    color: white

.link
    display: flex
    align-items: center
    justify-content: center
    height: 60px
    color: #fff
    font-weight: 500
    text-align: center
    border-radius: 25px
    padding: 12px 30px
    width: 200px
    background-color: #F9CC48
    box-shadow: 1px 13px 11px -4px #0000003d
    margin: 0 auto
    /* @4xl */
    @media screen and (max-width: 2560px)
        height: 60px
        padding: 12px 30px
        width: 200px
    /* @3xl */
    @media screen and (max-width: 1920px)
        height: 60px
        padding: 12px 30px
        width: 200px
    /* @2xl */
    @media screen and (max-width: 1600px)
        height: 60px
        padding: 12px 30px
        width: 200px
    /* @xl */
    @media screen and (max-width: 1440px)
        height: 60px
        padding: 12px 30px
        width: 200px
    /* @lg */
    @media screen and (max-width: 1280px)
        height: 50px
        padding: 12px 30px
        width: 140px
        font-size: 14px
    /* @md */
    @media screen and (max-width: 1024px)
        height: 40px
        padding: 12px 30px
        width: 140px
        font-size: 14px
    /* @sm */
    @media screen and (max-width: 768px)
        height: 40px
        padding: 12px 30px
        width: 140px
        font-size: 14px
    /* @xs */
    @media screen and (max-width: 600px)
        height: 40px
        width: 150px
        font-size: 17px
    /* @2xs */
    @media screen and (max-width: 480px)
        height: 40px
        width: 150px
        font-size: 17px
    /* @3xs */
    @media screen and (max-width: 360px)
        height: 40px
        width: 150px
        font-size: 17px