.container
    height: max-content
    padding-top: 150px

.section-titles
    margin-top: 100px
    /* @sm */
    @media screen and (max-width: 768px)
        margin-top: 50px

.title-portfolio
    font-size: 90px
    font-weight: 700
    color: #362906
    text-align: center
    line-height: 130px
    position: relative
    text-transform: uppercase
    z-index: 2
    &:before
        content: ''
        position: absolute
        background-color: #5F401B
        width: 47%
        height: 3px
        bottom: 0
        right: 0
    /* @4xl */
    @media screen and (max-width: 2560px)
        font-size: 90px
        line-height: 130px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 90px
        line-height: 130px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 90px
        line-height: 130px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 70px
        line-height: 130px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 60px
        line-height: 120px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 60px
        line-height: 120px
    @media screen and (max-width: 980px)
        font-size: 40px
        line-height: 60px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 50px
        line-height: 90px
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 30px
        line-height: 60px
        &:before
            content: ''
            position: absolute
            background-color: #5F401B
            width: 47%
            height: 2px
            bottom: 0
            right: 0
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 27px
        line-height: 50px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 25px
        line-height: 50px

.title-back
    font-size: 100px
    font-weight: 700
    color: #D7D3CE
    text-align: center
    line-height: 130px
    position: relative
    top: 65px
    right: 11%
    z-index: 0
    &:after
        content: ''
        position: absolute
        background-color: #5F401B
        width: 53%
        height: 3px
        top: 0
        left: 0
    /* @4xl */
    @media screen and (max-width: 2560px)
        font-size: 100px
        line-height: 130px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 100px
        line-height: 130px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 100px
        line-height: 130px
        right: 210px 
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 80px
        line-height: 130px
        top: 80px
        right: 170px 
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 60px
        line-height: 120px
        right: 180px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 60px
        line-height: 120px
        right: 170px
    @media screen and (max-width: 980px)
        font-size: 40px
        line-height: 60px
        top: 30px
        right: 120px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 50px
        right: 100px
        line-height: 100px
        top: 60px
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 35px
        right: 75px
        line-height: 60px
        top: 36px
        &:after
            content: ''
            position: absolute
            background-color: #5F401B
            width: 53%
            height: 2px
            top: 0
            left: 0
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 28px
        right: 58px
        line-height: 50px
        top: 32px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 25px
        right: 55px
        line-height: 50px
        top: 32px

.line
    width: 470px
    height: 3.05px
    margin-bottom: 40px
    background-color: #5F401B
    /* @4xl */
    @media screen and (max-width: 2560px)
        width: 470px
        height: 3.05px
        margin-bottom: 40px
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 470px
        height: 3.05px
        margin-bottom: 40px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 400px
        height: 3.05px
        margin-bottom: 40px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 350px
        height: 2px
        margin-bottom: 40px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 280px
        height: 2px
        margin-bottom: 40px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 250px
        height: 2px
        margin-bottom: 40px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 370px
        height: 2px
        margin-bottom: 40px
    /* @xs */
    @media screen and (max-width: 600px)
        width: 50%
        height: 2px
        margin-bottom: 40px
    /* @2xs */
    @media screen and (max-width: 480px)
        width: 50%
        height: 2px
        margin-bottom: 25px
    /* @3xs */
    @media screen and (max-width: 360px)
        width: 50%
        height: 2px
        margin-bottom: 25px

.course
    display: flex
    justify-content: space-between
    height: max-content
    margin-bottom: 50px
    /* @sm */
    @media screen and (max-width: 768px)
        display: grid
        
.active
    display: block

.next
    display: none
    transition: opacity 2s linear
    opacity: 0.2

.design-image
    width: 400px
    height: 600px
    transition: opacity 2s linear
    opacity: 1
    z-index: 2
    position: relative
    margin: 0 auto
    /* @4xl */
    @media screen and (max-width: 2560px)
        width: 400px
        height: 600px
    /* @3xl */
    @media screen and (max-width: 1920px)
        width: 400px
        height: 600px
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 400px
        height: 600px
    /* @xl */
    @media screen and (max-width: 1440px)
        width: 350px
        height: 500px
    /* @lg */
    @media screen and (max-width: 1280px)
        width: 350px
        height: 500px
    /* @md */
    @media screen and (max-width: 1024px)
        width: 300px
        height: 450px
    @media screen and (max-width: 980px)
        width: 250px
        height: 350px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 400px
        height: 600px
    /* @xs */
    @media screen and (max-width: 600px)
        width: 400px
        height: 600px
    /* @2xs */
    @media screen and (max-width: 480px)
        width: 75%
        height: 450px
    /* @3xs */
    @media screen and (max-width: 360px)
        width: 75%
        height: 450px

.left
    width: 40%
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%
        
.right
    width: 60%
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%

.design-corner-large-right
    position: absolute
    background: #8E685C
    right: 0
    top: 40%
    width: 43%
    height: 80px
    margin-bottom: 40px
    display: flex
    align-items: center
    justify-content: center
    &:before 
        top: 0px 
        background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
        content: "" 
        position: absolute 
        right: 100%
        width: 90px 
        height: 100% 
    /* @4xl */
    @media screen and (max-width: 2560px)
        position: absolute
        background: #8E685C
        right: 0
        top: 40%
        width: 43%
        height: 80px
        &:before 
            top: 0px 
            background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
            content: "" 
            position: absolute 
            right: 100%
            width: 90px 
            height: 100% 
    /* @3xl */
    @media screen and (max-width: 1920px)
        position: absolute
        background: #8E685C
        right: 0
        top: 40%
        width: 55%
        height: 80px
        &:before 
            top: 0px 
            background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
            content: "" 
            position: absolute 
            right: 100%
            width: 90px 
            height: 100% 
    /* @2xl */
    @media screen and (max-width: 1600px)
        position: absolute
        background: #8E685C
        right: 0
        top: 30%
        width: 54%
        height: 80px
        &:before 
            top: 0px 
            background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
            content: "" 
            position: absolute 
            right: 100%
            width: 90px 
            height: 100% 
    /* @xl */
    @media screen and (max-width: 1440px)
        position: absolute
        background: #8E685C
        right: 0
        top: 30%
        width: 53%
        height: 60px
        &:before 
            top: 0px 
            background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
            content: "" 
            position: absolute 
            right: 100%
            width: 90px 
            height: 100% 
    /* @lg */
    @media screen and (max-width: 1280px)
        position: absolute
        background: #8E685C
        right: 0
        top: 30%
        width: 52%
        height: 60px
        &:before 
            top: 0px 
            background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
            content: "" 
            position: absolute 
            right: 100%
            width: 90px 
            height: 100% 
    /* @md */
    @media screen and (max-width: 1024px)
        position: absolute
        background: #8E685C
        right: 0
        top: 30%
        width: 51%
        height: 60px
        &:before 
            top: 0px 
            background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
            content: "" 
            position: absolute 
            right: 100%
            width: 90px 
            height: 100% 
    @media screen and (max-width: 980px)
        position: absolute
        background: #8E685C
        right: 0
        top: 22%
        width: 52%
        height: 50px
        justify-content: center
        &:before 
            top: 0px 
            background: linear-gradient(to top left, #8E685C 50%, transparent 51%) 
            content: "" 
            position: absolute 
            right: 99.5%
            width: 45px 
            height: 100% 
    /* @sm */
    @media screen and (max-width: 768px)
        display: none

.design-title
    font-size: 30px
    font-weight: 700
    text-align: center
    color: #FFFFFF
    margin-right: 70px
    /* @4xl */
    @media screen and (max-width: 2560px)
        font-size: 30px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 30px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 27px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 22px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 17px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 17px
    @media screen and (max-width: 980px)
        font-size: 14px
    /* @sm */
    @media screen and (max-width: 768px)
        display: none

.design-title-mobile
    display: none
    /* @sm */
    @media screen and (max-width: 768px)
        display: block
        font-size: 20px
        font-weight: 700
        text-align: center
        color: #FFFFFF
        background-color: #8E685C
        padding: 10px

.design-title-top
    font-size: 65px
    font-weight: 700
    color: #D7D3CE
    text-align: center
    line-height: 80.49px
    /* @4xl */
    @media screen and (max-width: 2560px)
        font-size: 65px
        line-height: 80.49px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 65px
        line-height: 80.49px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 60px
        line-height: 80.49px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 55px
        line-height: 80.49px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 40px
        line-height: 80.49px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 40px
        line-height: 80.49px
    @media screen and (max-width: 980px)
        font-size: 40px
        line-height: 80.49px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 40px
        line-height: 80.49px
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 40px
        line-height: 80.49px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 40px
        line-height: 80.49px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 40px
        line-height: 80.49px

.conditions
    width: 100%
    margin-top: 150px
    /* @4xl */
    @media screen and (max-width: 2560px)
        margin-top: 150px
    /* @3xl */
    @media screen and (max-width: 1920px)
        margin-top: 150px
    /* @2xl */
    @media screen and (max-width: 1600px)
        margin-top: 120px
    /* @xl */
    @media screen and (max-width: 1440px)
        margin-top: 100px
    /* @lg */
    @media screen and (max-width: 1280px)
        margin-top: 100px
    /* @md */
    @media screen and (max-width: 1024px)
        margin-top: 100px
    @media screen and (max-width: 980px)
        margin-top: 100px
    /* @sm */
    @media screen and (max-width: 768px)
        margin: 50px auto
        width: 70%
    /* @xs */
    @media screen and (max-width: 600px)
        margin: 50px auto
        width: 80%
    /* @2xs */
    @media screen and (max-width: 480px)
        margin: 50px auto
        width: 80%
    /* @3xs */
    @media screen and (max-width: 360px)
        margin: 50px auto
        width: 80%

.term
    display: flex
    align-items: center
    justify-content: flex-start

.condition
    color: #818181
    font-weight: 700
    font-size: 18px
    padding-left: 15px
    line-height: 33.66px
    list-style-type: none 
    display: flex
    flex-direction: row
    align-items: center
    &:before 
        content: '\2022' 
        color: #8E685C
        font-size: 2rem 
        margin-right: 10px
    /* @4xl */
    @media screen and (max-width: 2560px)
        font-size: 18px
        line-height: 33.66px
        padding-left: 15px
        font-weight: 700
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 18px
        line-height: 33.66px
        padding-left: 15px
        font-weight: 700    
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 18px
        line-height: 30px
        padding-left: 15px
        font-weight: 700
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 17px
        line-height: 30px
        padding-left: 15px
        font-weight: 700
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 15px
        line-height: 27px
        padding-left: 15px
        font-weight: 700
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 15px
        line-height: 27px
        padding-left: 15px
        font-weight: 700
    @media screen and (max-width: 980px)
        font-size: 15px
        line-height: 27px
        padding-left: 15px
        font-weight: 700
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 15px
        line-height: 27px
        padding-left: 15px
        font-weight: 700
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 13px
        line-height: 20px
        padding-left: 15px
        font-weight: 700
        &:before 
            font-size: 1.3rem 
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 13px
        line-height: 20px
        padding-left: 15px
        font-weight: 700
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 13px
        line-height: 20px
        padding-left: 15px
        font-weight: 700

.hex 
    height: max-content 
    width: 70% 
    padding: 10px 
    font-weight: bold 
    text-align: center 
    background-color: #8E685C 
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    box-shadow: 0 4px 4px 0 #00000024
    @media screen and (max-width: 980px)
        margin: -1px auto
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%
        margin: -1px auto

.our-advantages 
    text-align: left 
    font-size: 20px 
    color: #fff
    line-height: 37.4px
    font-weight: 700 
    width: 70%
    margin: 0 10px
    /* @4xl */
    @media screen and (max-width: 2560px)
        font-size: 20px 
        line-height: 37.4px
        font-weight: 700
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 20px 
        line-height: 37.4px
        font-weight: 700
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 18px
        line-height: 30px
        font-weight: 700
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 17px
        line-height: 30px
        font-weight: 700
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 15px
        line-height: 27px
        font-weight: 700
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 15px
        line-height: 27px
        font-weight: 700
    @media screen and (max-width: 980px)
        font-size: 15px
        line-height: 27px
        font-weight: 700
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 15px
        line-height: 27px
        font-weight: 700
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 13px
        line-height: 20px
        font-weight: 700
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 13px
        line-height: 20px
        font-weight: 700
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 13px
        line-height: 20px
        font-weight: 700

.projects
    display: flex
    justify-content: center
    margin: 50px auto

.button
    display: flex
    justify-content: center
    margin: 50px auto

.link
    font-weight: 700
    font-size: 14px
    line-height: 16.52px
    display: flex
    align-items: center
    justify-content: center
    color: #4B352B
    border: 2px solid #4B352B
    width: 180px
    height: 50px
    padding: 20px
    cursor: pointer
    transition: color 400ms
    position: relative
    z-index: 1
    box-shadow: 0 4px 4px 0 #00000024
    text-transform: uppercase
    &:before 
        content: '' 
        position: absolute 
        top: 0 
        left: 0 
        right: 0 
        bottom: 0 
        background: #8E685C
        z-index: -1 
        transition: transform 400ms ease-out 
        transform: scaleX(0) 
        transform-origin: left 
    &:hover 
        color: #fff 
        border: 2px solid #8E685C 
        &:before 
            transform: scaleX(1) 
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 14px
        width: 160px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 14px
        height: 30px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 14px
        padding: 7px 0
        width: 25%
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 14px
        padding: 7px 0
        width: 30%
    /* @2xs */
    @media screen and (max-width: 480px)  
        font-size: 14px
        padding: 7px 0
        width: 35%
    /* @3xs */  
    @media screen and (max-width: 360px)
        font-size: 14px
        padding: 7px 0
        width: 45%

