.cards
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start 
    align-self: center
    margin: 0 auto
    @media screen and (max-width: 950px)
        justify-content: center
    /* @sm */
    @media screen and (max-width: 768px)
        justify-content: center
    @media screen and (max-width: 600px)
        justify-content: center
    @media screen and (max-width: 550px)
        justify-content: center

