.container
    background: var(--color-black)
    position: relative
    /* @4xl */
    @media screen and (max-width: 2560px)
    /* @3xl */
    @media screen and (max-width: 1920px)
      height: 700px !important
    /* @2xl */
    @media screen and (max-width: 1600px)
      height: 700px !important
    /* @xl */
    @media screen and (max-width: 1440px)
      height: 700px !important
    /* @lg */
    @media screen and (max-width: 1280px)
      height: 550px !important
    /* @md */
    @media screen and (max-width: 1024px)
      height: 500px !important
    /* @sm */
    @media screen and (max-width: 768px)
      height: 430px !important
    /* @xs */
    @media screen and (max-width: 600px)
      height: 370px !important
    /* @2xs */
    @media screen and (max-width: 480px)
      height: 370px !important
    /* @3xs */
    @media screen and (max-width: 360px)
      height: 270px !important

.triangle
    display: block
    height: 59px
    width: 50%
    position: relative
    transform: skew(44deg)
    bottom: 50px
    &:after 
      height: 59px
      width: 110%
      background-color: var(--color-black)
      margin: 0 auto
      position: absolute
      content: ''
      right: 0
    /* @4xl */
    @media screen and (max-width: 2560px)
      bottom: 50px
      &:after 
        height: 59px
    /* @3xl */
    @media screen and (max-width: 1920px)
      bottom: 50px
      &:after 
        height: 59px
    /* @2xl */
    @media screen and (max-width: 1600px)
      bottom: 50px
      &:after 
        height: 59px
    /* @xl */
    @media screen and (max-width: 1440px)
      bottom: 43px
      &:after 
        height: 45px
    /* @lg */
    @media screen and (max-width: 1280px)
      bottom: 42px
      &:after 
        height: 45px
    /* @md */
    @media screen and (max-width: 1024px)
      bottom: 41px
      &:after 
        height: 45px
    /* @sm */
    @media screen and (max-width: 768px)
      bottom: 35px
      &:after 
        height: 37px
    /* @xs */
    @media screen and (max-width: 600px)
      display: none


.title
    position: absolute
    margin: 0 auto
    width: 100%
    color: white
    top: 10px
    font-size: 32px
    padding-right: var(--container-gap)
    padding-left: var(--container-gap)
    /* 2xl */
    @media screen and ( max-width: 1536px )
      font-size: 33px
    /* xl */
    @media screen and ( max-width: 1280px )
      font-size: 30px
    /* lg */
    @media screen and ( max-width: 1024px )
      font-size: 27px
      top: 0
    /* md */
    @media screen and ( max-width: 768px )
      font-size: 24px
      top: 10px
    /* sm */
    @media screen and ( max-width: 640px )
      top: 10px
      text-align: center
      width: 100%
      position: relative
      margin-bottom: 20px
    /* xs */
    @media screen and ( max-width: 475px )
      top: 20px
      text-align: center
      width: 100%
      position: relative
      margin-bottom: 30px
      padding-right: 0
      padding-left: 0




