.course_name
    font-size: 50px
    color: #fff
    font-weight: 700
    text-transform: uppercase
    text-align: center
    line-height: 57.5px
    margin-bottom: 10px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 50px
        line-height: 57.5px
        margin-bottom: 10px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 50px
        line-height: 57.5px
        margin-bottom: 10px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 50px
        line-height: 57.5px
        margin-bottom: 10px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 50px
        line-height: 57.5px
        margin-bottom: 10px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 50px
        line-height: 57.5px
        margin-bottom: 10px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 40px
        line-height: 57.5px
        margin-bottom: 10px
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 40px
        line-height: 57.5px
        margin-bottom: 10px
    @media screen and (max-width: 550px)
        font-size: 30px
        line-height: 57.5px
        margin-bottom: 10px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 30px
        line-height: 57.5px
        margin-bottom: 10px
    @media screen and (max-width: 420px)
        font-size: 30px
        line-height: 57.5px
        margin-bottom: 10px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 30px
        line-height: 57.5px
        margin-bottom: 10px

.author
    font-size: 40px
    color: #fff
    text-transform: uppercase
    font-weight: 700
    text-align: center
    line-height: 46px
    opacity: 0.5
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 40px
        line-height: 46px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 40px
        line-height: 46px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 40px
        line-height: 46px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 40px
        line-height: 46px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 40px
        line-height: 46px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 40px
        line-height: 46px
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 30px
        line-height: 46px
    @media screen and (max-width: 550px)
        font-size: 25px
        line-height: 46px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 25px
        line-height: 46px
    @media screen and (max-width: 420px)
        font-size: 25px
        line-height: 46px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 25px
        line-height: 46px

.loader
    display: grid
    justify-content: center
    align-items: center
    margin: 50px auto
    width: 80%

.article
    width: 100%
    min-height: 95vh
    display: grid
    min-width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-color: #00000094
    background-blend-mode: multiply
    /* @sm */
    @media screen and (max-width: 768px)
        height: 70vh
    /* @xs */
    @media screen and (max-width: 600px)
        height: 70vh
    /* @2xs */
    @media screen and (max-width: 480px)
        height: 70vh
    /* @3xs */
    @media screen and (max-width: 360px)
        height: 70vh

.titles
    width: auto
    height: 100px
    place-self: center